@media screen and (max-width: 480px){
    .articleGrid{
       display: flex;
       flex-wrap: wrap; 
       padding: 1rem;
       justify-content: space-evenly;       
    }
    .hoverlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 0.5px;
        margin: 0.5px;
    }  
    .mainparrafo {
        margin: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
    }

    .imagenesMobile img{
      width: 100%;
    }
    footer {        
        padding: 0%;
    }
    h1 {
        animation-name: animacion;
        animation-duration: 5s; 
        animation-delay: 1s;
        position: relative;
        animation-timing-function: linear;
        animation-iteration-count: infinite; 
        display: inline-block;
        margin-left: 12%;                 
        
    }


    .palabrasfooter1, .palabrasfooter2,.palabrasfooter3, .palabrasfooter4,.palabrasfooter5, .palabrasfooter6 {
        display: none;
        
    }
    
    @keyframes animacion {
        0% {color: purple;bottom: 10px}
        25% {color: blueviolet; top; 10px}
        50% {color: blue; bottom: 10px;}
        75% {color: blueviolet; top: 10px; }
        100% {color: purple; bottom: 10px;}
    }
    
}